* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
    padding: 0px;
    text-align: left;
}

body {
    background-color: peru;
}

h1 {
    text-align: center;
}

li {
    list-style-position: inside;
}

#mainbox {
    width: 1000px;
    height: 2000px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.786);
    border-radius: 15px;
    border: 5px solid burlywood;
    margin: auto;
}

nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display:inline-block;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.10); /* Scale up the image on hover */
}

.headersection {
    width: 990px;
    height: 40px;
    background-color: black;
    border-top: 2px solid peru;
    border-bottom: 2px solid peru;
}

.headersection h1 {
    margin-top: 0px;
}

.navsectionleft {
    background-color: transparent;
    width: 200px;
    margin: auto;
    position: fixed;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navsectionright {
    background-color: transparent;
    width: 200px;
    margin: auto;
    position: fixed;
    margin-left: 800px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navsectionbox {
    background-color: black;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
}

.mainsectionbox {
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid burlywood;
    border-radius: 10px;
}

.mainsectionbox h2, .mainsectionbox h3 {
    color: gold;
}

.mainsectionbox p{
    text-align: justify;
}

.mainsectionbox img {
    
}

.consolespecstable {
    text-align: left;
}

.consolespecstable th  {
    width: 225px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.consolespecstable td {
    width: 450px;
}

.footersection {
    width: 990px;
    height: 150px;
    margin-top: 100px;
    padding: 15px;
    background-color: black;
    border-top: 2px solid peru;
    border-bottom: 2px solid peru;
}

#backtotopbutton {
    text-decoration: underline;
    display: block;
    width: 150px;
    height: 20px;
    font-size: 20pt;
    color: white
}